.jumbotron {
		background-color: blue;
		color: white; 
		margin-top: 40px;
	}


footer {
	color: white;
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px;
	margin-top: 15px;
}

.card-valki{

	flex: 1 200px;
	margin-top: 10px;
}

.btn-mas{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon {
	padding-right: 15px;
}

.tab-content{
	padding-top: 10px;
}