@blue: #001433;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @blue;
  color: white;
 .margenes(50px, 0px); 
 }

footer {
  color: white;
  padding: 10px 10px 0 10px;
  background-color: @blue;
  .margenes(10px, 0px); 
  }

.card-valki {
  flex: 1 200px;
  .margenes(10px, 0px); 
  }

.btn-mas {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 15px; }

.tab-content {
  padding-top: 10px; }