.jumbotron {
  background-color: #001433;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  color: white;
  padding: 10px 10px 0 10px;
  background-color: #001433;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-valki {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-mas {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 15px;
}
.tab-content {
  padding-top: 10px;
}
